h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
a h1,
a h2,
a h3,
a h4,
a h5 {
  color: #000000dd;
}
.text-bold {
  font-weight: 600;
}
.text-semi-bold {
  font-weight: 500;
}
.pointer:hover {
  cursor: pointer;
}
button {
  border: none;
  background-color: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000000dd;
  background-color: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) {
  body {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  body {
    margin-top: 26px;
  }
}
.main-container {
  display: grid;
  padding-bottom: 26px;
}
@media (min-width: 0px) {
  .main-container {
    grid-template-areas: "content" !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    grid-template-areas: "content sidebar" !important;
  }
}
.content-container {
  grid-area: content;
}
.sidebar-container {
  grid-area: sidebar;
  flex-direction: column;
  width: 360px;
  padding-right: 26px;
}
@media (min-width: 0px) {
  .sidebar-container {
    display: none;
  }
}
@media (min-width: 992px) {
  .sidebar-container {
    display: flex;
  }
}
#header {
  display: grid;
  column-gap: 65px;
  padding-bottom: 10px;
  row-gap: 0;
}
@media (min-width: 0px) {
  #header {
    grid-template-columns: min-content auto min-content;
    grid-template-areas: "navbar-toggler logo   search" "navbar         navbar navbar" !important;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 992px) {
  #header {
    grid-template-columns: min-content auto;
    grid-template-areas: "logo navbar" "logo search" !important;
    box-shadow: none;
  }
}
@media (min-width: 0px) {
  #header {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  #header {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
  }
}
#header-navbar-toggler {
  grid-area: navbar-toggler;
}
#header-navbar-toggler > button > .fas {
  min-width: 45px;
}
#header-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}
#header-logo img {
  height: 64px;
}
#header-navbar {
  grid-area: navbar;
  padding-bottom: 0;
}
@media (min-width: 0px) {
  #header-navbar .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #header-navbar .navbar-nav {
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
  }
}
#header-navbar .navbar-nav .paired {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) {
  #header-navbar .navbar-nav .paired {
    min-width: 100%;
  }
}
@media (min-width: 576px) {
  #header-navbar .navbar-nav .paired {
    min-width: auto;
    flex-grow: 2;
  }
}
#header-navbar .navbar-nav .nav-link {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000dd;
  text-align: center;
}
@media (min-width: 0px) {
  #header-navbar .navbar-nav .nav-link {
    padding: 5px;
    font-size: 1.7rem;
  }
}
@media (min-width: 576px) {
  #header-navbar .navbar-nav .nav-link {
    padding: 0;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  #header-navbar .navbar-nav .nav-link {
    padding-right: 3em;
  }
}
#header-navbar .list-group-item-custom {
  border: 0;
  position: relative;
  display: block;
  margin-left: 18px;
  margin-right: 18px;
}
#header-navbar .list-group-item-custom:first-child {
  margin-left: 0;
}
#header-navbar .list-group-item-custom:last-child {
  margin-right: 0;
}
#header-search {
  grid-area: search;
}
#header-search #navbar-search-input {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-left: 7px;
}
#header-search > button > .fas {
  min-width: 45px;
}
@media (min-width: 0px) {
  .card-columns {
    column-count: 1;
    padding-right: max(13px, 3%);
    padding-left: max(13px, 3%);
  }
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
    padding-right: 26px;
    padding-left: 26px;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    padding-left: 0px;
  }
}
.card-title {
  font-size: 1.5rem;
}
.card-text {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  .card-text {
    display: none;
  }
}
@media (min-width: 576px) {
  .card-text {
    display: inline-block;
    max-height: 150px;
  }
}
@media (min-width: 768px) {
  .card-text {
    max-height: 100px;
  }
}
@media (min-width: 992px) {
  .card-text {
    max-height: 200px;
  }
}
.card-text::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent, #fff 20px);
}
@media (min-width: 0px) {
  .card-img-top {
    display: block;
  }
}
@media (min-width: 576px) {
  .card-img-top {
    display: none;
  }
}
@media (min-width: 768px) {
  .card-img-top {
    display: block;
  }
}
.card-img-container {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  .card-img-container {
    max-height: 190px;
  }
}
@media (min-width: 768px) {
  .card-img-container {
    max-height: 240px;
  }
}
.twitter-block {
  width: 100%;
  height: 810px;
}
.banner-container {
  width: 100%;
  margin-top: 26px;
}
img.banner {
  width: 100%;
}
.forced-inline-block {
  display: inline-block !important;
}
.forced-flex {
  display: flex !important;
}
@media (min-width: 0px) {
  .forced-hiden-on-xs {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .forced-hiden-on-xs {
    display: initial !important;
  }
}
