.header-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.header-link {
  color: #000000dd;
}
.header-link:hover {
  color: #a67c00;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
a {
  color: #a67c00;
}
a:hover {
  text-decoration: none;
  color: rgba(166, 124, 0, 0.3);
}
a h1,
a h2,
a h3,
a h4,
a h5 {
  color: #000000dd;
}
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover {
  color: #a67c00;
}
.text-bold {
  font-weight: 600;
}
.text-semi-bold {
  font-weight: 500;
}
.pointer:hover {
  cursor: pointer;
}
button {
  border: none;
  background-color: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
}
@media (min-width: 0px) {
  p {
    text-align: justify;
  }
}
@media (min-width: 576px) {
  p {
    text-align: start;
  }
}
@media (min-width: 0px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}
@media (min-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: start;
  }
}
.h5,
h5 {
  font-size: 1.3rem;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 124, 0, 0.3);
  border-color: rgba(166, 124, 0, 0.3);
}
.form-control:read-only {
  background-color: inherit;
}
.card-header.btn {
  font-size: 1.3rem;
  text-align: left;
  background-color: rgba(166, 124, 0, 0.3);
}
.card-header.btn:focus {
  box-shadow: none;
}
.jumbotron {
  background-color: rgba(166, 124, 0, 0.3);
}
div.in-text {
  margin-bottom: 26px;
}
@media (min-width: 0px) {
  .collapse {
    padding: 10px;
  }
}
@media (min-width: 576px) {
  .collapse {
    padding: 1.5rem;
  }
}
form {
  margin-bottom: 1rem;
}
.btn-outline-primary {
  color: #a67c00;
  border-color: #a67c00;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #a67c00 !important;
  border-color: #a67c00 !important;
}
.btn-outline-primary:active,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 124, 0, 0.3) !important;
}
button.no-bg-on-active:active {
  background-color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000000dd;
  background-color: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) {
  body {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  body {
    margin-top: 26px;
  }
}
.main-container {
  display: grid;
  padding-bottom: 26px;
}
@media (min-width: 0px) {
  .main-container {
    grid-template-columns: auto;
    grid-template-areas: "content" !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    grid-template-columns: auto min-content;
    grid-template-areas: "content sidebar" !important;
  }
}
.content-container {
  grid-area: content;
  width: 100%;
}
@media (min-width: 0px) {
  .content-container {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (min-width: 768px) {
  .content-container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
.sidebar-container {
  grid-area: sidebar;
  flex-direction: column;
  width: 360px;
  padding-right: 26px;
}
@media (min-width: 0px) {
  .sidebar-container {
    display: none;
  }
}
@media (min-width: 992px) {
  .sidebar-container {
    display: flex;
  }
}
#header {
  display: grid;
  column-gap: 65px;
  padding-bottom: 10px;
  margin-bottom: 26px;
}
@media (min-width: 0px) {
  #header {
    grid-template-columns: min-content auto min-content;
    grid-template-areas: "navbar-toggler logo   search" "navbar         navbar navbar";
    row-gap: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 992px) {
  #header {
    grid-template-columns: min-content auto;
    grid-template-areas: "logo navbar" "logo search" !important;
    row-gap: 13px;
    box-shadow: none;
  }
}
@media (min-width: 0px) {
  #header {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #header {
    margin-left: 26px;
    margin-right: 26px;
  }
}
#header-navbar-toggler {
  grid-area: navbar-toggler;
}
#header-navbar-toggler > button > .fas {
  min-width: 45px;
}
#header-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}
#header-logo img {
  height: 64px;
}
#header-navbar {
  grid-area: navbar;
  padding-right: 0;
  padding-bottom: 0;
}
#header-navbar .header-navbar-links {
  display: flex;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #header-navbar .header-navbar-links {
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
  }
}
#header-navbar .header-navbar-links .paired {
  display: flex;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links .paired {
    min-width: 100%;
  }
}
@media (min-width: 576px) {
  #header-navbar .header-navbar-links .paired {
    min-width: auto;
    flex-grow: 2;
  }
}
#header-navbar .header-navbar-links a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000dd;
  text-align: center;
  flex-grow: 1;
}
#header-navbar .header-navbar-links a:hover {
  color: #a67c00;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links a {
    padding: 5px;
    font-size: 1.7rem;
  }
}
@media (min-width: 576px) {
  #header-navbar .header-navbar-links a {
    padding: 0;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  #header-navbar .header-navbar-links a {
    padding-right: 1em;
    padding-left: 1em;
  }
  #header-navbar .header-navbar-links a.active {
    background-color: #000d;
    color: #ffdc73;
    border-radius: 1em;
  }
}
@media (min-width: 0px) {
  #header-social-icons {
    display: none;
  }
}
@media (min-width: 992px) {
  #header-social-icons {
    display: flex;
  }
}
#header-social-icons a {
  color: rgba(51, 51, 51, 0.86666667);
  margin-left: 13px;
}
#header-social-icons a:hover {
  text-decoration: none;
  color: #a67c00;
}
#header-search {
  grid-area: search;
  justify-content: space-between;
  min-height: 64px;
}
#header-search > button > .fas {
  min-width: 45px;
}
@media (min-width: 0px) {
  #header-search {
    display: none;
  }
}
@media (min-width: 992px) {
  #header-search {
    display: inline-block;
  }
}
.search-toggled-mock #header-search {
  display: flex !important;
}
.search-toggled-mock #header-navbar-toggler {
  display: none !important;
}
@media (min-width: 0px) {
  .search-toggled-mock #header-logo {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .search-toggled-mock #header-logo {
    display: flex !important;
  }
}
.search-toggled-mock .header-search-input-container {
  padding-left: 26px;
}
@media (min-width: 0px) {
  .search-toggled-mock#header {
    grid-template-columns: auto !important;
    grid-template-areas: "search" "navbar" !important;
  }
}
@media (min-width: 992px) {
  .search-toggled-mock#header {
    grid-template-columns: min-content auto !important;
    grid-template-areas: "logo navbar" "logo search" !important;
  }
}
@media (min-width: 0px) {
  #main-card-list.card-columns {
    column-count: 1;
  }
}
@media (min-width: 576px) {
  #main-card-list.card-columns {
    column-count: 2;
  }
}
#main-card-list .card-title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
#main-card-list .date {
  color: rgba(51, 51, 51, 0.86666667);
  font-size: 0.7rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 0px) {
  #main-card-list .date {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 576px) {
  #main-card-list .date {
    width: auto;
    text-align: start;
  }
}
#main-card-list .card-text {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  #main-card-list .card-text {
    display: none;
  }
}
@media (min-width: 576px) {
  #main-card-list .card-text {
    font-size: 0.8rem;
    display: inline-block;
    max-height: 150px;
  }
}
@media (min-width: 768px) {
  #main-card-list .card-text {
    font-size: 0.9rem;
    max-height: 100px;
  }
}
@media (min-width: 992px) {
  #main-card-list .card-text {
    max-height: 200px;
  }
}
#main-card-list .card-text::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent, #fff 20px);
}
@media (min-width: 0px) {
  #main-card-list .card-img-top {
    display: block;
  }
}
@media (min-width: 576px) {
  #main-card-list .card-img-top {
    display: none;
  }
}
@media (min-width: 768px) {
  #main-card-list .card-img-top {
    display: block;
  }
}
#main-card-list .card-img-container {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  #main-card-list .card-img-container {
    max-height: 190px;
  }
}
@media (min-width: 768px) {
  #main-card-list .card-img-container {
    max-height: 240px;
  }
}
.pagination {
  display: flex;
}
@media (min-width: 0px) {
  .pagination {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .pagination {
    justify-content: end;
  }
}
.pagination-page {
  margin-left: 9px;
  margin-right: 9px;
}
@media (min-width: 0px) {
  .pagination-page {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .pagination-page {
    font-size: 1.1rem;
  }
}
.pagination-page:first-child,
.pagination-page:first-child.active {
  margin-left: 0;
}
.pagination-page:last-child,
.pagination-page:last-child.active {
  margin-right: 0;
}
.pagination-page.active {
  background: rgba(166, 124, 0, 0.3);
  text-align: center;
  margin-right: 4px;
  margin-left: 4px;
}
@media (min-width: 0px) {
  .pagination-page.active {
    border-radius: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
    padding-right: calc(1.5rem / 2);
  }
}
@media (min-width: 992px) {
  .pagination-page.active {
    border-radius: calc(1.1rem / 2);
    padding-left: calc(1.1rem / 2);
    padding-right: calc(1.1rem / 2);
  }
}
.pagination-skip {
  border-bottom: 3px dotted #a67c00;
  width: 1.5rem;
  height: 18px;
  margin-left: 2px;
  margin-right: 2px;
}
.twitter-block {
  width: 100%;
  height: 810px;
}
.banner-container {
  width: 100%;
  margin-top: 26px;
  box-shadow: 0 0 5px black;
}
img.banner {
  width: 100%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 26px;
}
footer a {
  color: rgba(51, 51, 51, 0.86666667);
  margin-right: 26px;
  margin-left: 26px;
}
footer a:hover {
  text-decoration: none;
  color: #a67c00;
}
footer > nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 0px) {
  footer > nav {
    display: none;
  }
}
@media (min-width: 992px) {
  footer > nav {
    display: flex;
  }
}
footer > nav a {
  margin-right: 26px;
  margin-left: 26px;
}
footer > #footer-social-icons a {
  margin-right: 13px;
  margin-left: 13px;
}
@media (min-width: 0px) {
  #join-jumbotron h1 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #join-jumbotron h1 {
    text-align: start;
  }
}
#join-jumbotron > .container {
  padding-left: 45px;
  padding-right: 45px;
}
@media (min-width: 992px) {
  #join-jumbotron .btn-lg {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  #join-jumbotron .btn-lg {
    font-size: 1.2rem;
  }
}
@media (min-width: 0px) {
  .btn-dynamic {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .btn-dynamic {
    width: auto;
  }
}
#about-carousel.carousel {
  margin-bottom: 20px;
}
@media (min-width: 0px) {
  #about-carousel.carousel {
    box-shadow: 0 -5px 6px #0005, 0 5px 5px #0005;
    margin-left: -13px;
    margin-right: -13px;
  }
}
@media (min-width: 992px) {
  #about-carousel.carousel {
    box-shadow: none;
    margin: inherit;
  }
}
#about-carousel.carousel .carousel-item {
  max-height: 90vh;
}
#about-carousel.carousel .carousel-item > img {
  object-fit: contain;
}
#about-carousel.carousel .carousel-caption {
  background-color: #000a;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px;
}
.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.contact-cards > .card {
  display: grid;
  margin-bottom: 26px;
}
.contact-cards > .card > img {
  grid-area: photo;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-right: 1px solid;
  border-color: inherit;
}
.contact-cards > .card > img.contained {
  object-fit: contain;
  padding: 10%;
}
.contact-cards > .card > .card-body {
  grid-area: name;
  box-sizing: content-box;
  padding: 5px;
}
.contact-cards > .card > .card-body h1,
.contact-cards > .card > .card-body h2,
.contact-cards > .card > .card-body h3,
.contact-cards > .card > .card-body h4,
.contact-cards > .card > .card-body h5,
.contact-cards > .card > .card-body p {
  text-align: left;
}
.contact-cards > .card > .contact-info {
  grid-area: contacts;
  flex-direction: row;
  flex-wrap: wrap;
  border-width: 1px 0 0 1px;
}
.contact-cards > .card > .contact-info > div {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  border-width: 0 0px 1px 0;
  text-align: center;
}
.contact-cards > .card > .spacer {
  grid-area: spacer;
}
.contact-cards > .card a {
  color: #000000dd;
}
.contact-cards > .card a:hover {
  color: #a67c00;
}
@media (min-width: 0px) {
  .contact-cards > .card {
    height: 210px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "photo name" "photo spacer" "contacts contacts";
    grid-template-columns: 40% auto;
    grid-template-rows: min-content auto min-content;
  }
  .contact-cards > .card > .card-body {
    font-size: 0.8rem;
  }
  .contact-cards > .card > .contact-info {
    font-size: 0.9rem;
  }
}
@media (min-width: 576px) {
  .contact-cards > .card {
    width: 47%;
    margin-left: 0;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .contact-cards > .card {
    grid-template-areas: "photo name" "photo spacer" "photo contacts";
    grid-template-columns: auto min-content;
    grid-template-rows: min-content auto min-content;
  }
}
@media (min-width: 992px) {
  .contact-cards > .card {
    grid-template-areas: "photo name" "photo spacer" "contacts contacts";
    grid-template-columns: 40% auto;
    grid-template-rows: min-content auto min-content;
  }
}
@media (min-width: 1200px) {
  .contact-cards > .card {
    grid-template-areas: "photo name" "photo spacer" "photo contacts";
    grid-template-columns: auto min-content;
    grid-template-rows: min-content auto min-content;
  }
}
img.credentials-icon {
  object-fit: contain;
  margin-right: 1rem;
  height: 2em;
}
.qr-with-description {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  padding-bottom: 1rem;
}
.qr-with-description > img {
  grid-area: qr;
  object-fit: contain;
}
.qr-with-description > p {
  grid-area: description;
}
@media (min-width: 0px) {
  .qr-with-description {
    grid-template-areas: "qr" "description";
    width: 100%;
  }
  .qr-with-description > img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 576px) {
  .qr-with-description {
    grid-template-areas: "description qr";
  }
  .qr-with-description > img {
    width: 60%;
    margin-left: auto;
    margin-right: 0;
  }
  .qr-with-description > p {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.forced-flex {
  display: flex !important;
}
