.header-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.header-link {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000dd;
}
.header-link:hover {
  color: #a67c00;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
a {
  color: #a67c00;
}
a:hover {
  text-decoration: none;
  color: #ffc20d;
}
a h1,
a h2,
a h3,
a h4,
a h5 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000dd;
}
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover {
  color: #a67c00;
}
.text-bold {
  font-weight: 600;
}
.text-semi-bold {
  font-weight: 500;
}
.pointer:hover {
  cursor: pointer;
}
button {
  border: none;
  background-color: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.75rem;
}
@media (min-width: 0px) {
  p {
    text-align: justify;
  }
}
@media (min-width: 576px) {
  p {
    text-align: start;
  }
}
@media (min-width: 0px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}
@media (min-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: start;
  }
}
.h5,
h5 {
  font-size: 1.3rem;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 124, 0, 0.3);
}
body {
  font-family: 'Roboto', sans-serif;
  color: #000000dd;
  background-color: #fff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) {
  body {
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  body {
    margin-top: 26px;
  }
}
.main-container {
  display: grid;
  padding-bottom: 26px;
}
@media (min-width: 0px) {
  .main-container {
    grid-template-columns: auto;
    grid-template-areas: "content" !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    grid-template-columns: auto min-content;
    grid-template-areas: "content sidebar" !important;
  }
}
.content-container {
  grid-area: content;
  width: 100%;
}
@media (min-width: 0px) {
  .content-container {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media (min-width: 768px) {
  .content-container {
    padding-left: 26px;
    padding-right: 26px;
  }
}
.sidebar-container {
  grid-area: sidebar;
  flex-direction: column;
  width: 360px;
  padding-right: 26px;
}
@media (min-width: 0px) {
  .sidebar-container {
    display: none;
  }
}
@media (min-width: 992px) {
  .sidebar-container {
    display: flex;
  }
}
#header {
  display: grid;
  column-gap: 65px;
  padding-bottom: 10px;
  margin-bottom: 26px;
}
@media (min-width: 0px) {
  #header {
    grid-template-columns: min-content auto min-content;
    grid-template-areas: "navbar-toggler logo   search" "navbar         navbar navbar" !important;
    row-gap: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 992px) {
  #header {
    grid-template-columns: min-content auto;
    grid-template-areas: "logo navbar" "logo search" !important;
    row-gap: 13px;
    box-shadow: none;
  }
}
@media (min-width: 0px) {
  #header {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #header {
    margin-left: 26px;
    margin-right: 26px;
  }
}
#header-navbar-toggler {
  grid-area: navbar-toggler;
}
#header-navbar-toggler > button > .fas {
  min-width: 45px;
}
#header-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}
#header-logo img {
  height: 64px;
}
#header-navbar {
  grid-area: navbar;
  padding-bottom: 0;
}
#header-navbar .header-navbar-links {
  display: flex;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #header-navbar .header-navbar-links {
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
  }
}
#header-navbar .header-navbar-links .paired {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links .paired {
    min-width: 100%;
  }
}
@media (min-width: 576px) {
  #header-navbar .header-navbar-links .paired {
    min-width: auto;
    flex-grow: 2;
  }
}
#header-navbar .header-navbar-links a {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000000dd;
  text-align: center;
  flex-grow: 1;
}
#header-navbar .header-navbar-links a:hover {
  color: #a67c00;
}
@media (min-width: 0px) {
  #header-navbar .header-navbar-links a {
    padding: 5px;
    font-size: 1.7rem;
  }
}
@media (min-width: 576px) {
  #header-navbar .header-navbar-links a {
    padding: 0;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  #header-navbar .header-navbar-links a {
    padding-right: 3em;
  }
}
@media (min-width: 0px) {
  #header-social-icons {
    display: none;
  }
}
@media (min-width: 992px) {
  #header-social-icons {
    display: flex;
  }
}
#header-social-icons a {
  color: rgba(51, 51, 51, 0.86666667);
  margin-right: 13px;
  margin-left: 13px;
}
#header-social-icons a:hover {
  text-decoration: none;
  color: #a67c00;
}
#header-search {
  grid-area: search;
}
#header-search #navbar-search-input {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-left: 7px;
}
#header-search > button > .fas {
  min-width: 45px;
}
@media (min-width: 0px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
.card-title {
  font-size: 1.5rem;
}
.card-text {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  .card-text {
    display: none;
  }
}
@media (min-width: 576px) {
  .card-text {
    display: inline-block;
    max-height: 150px;
  }
}
@media (min-width: 768px) {
  .card-text {
    max-height: 100px;
  }
}
@media (min-width: 992px) {
  .card-text {
    max-height: 200px;
  }
}
.card-text::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent, #fff 20px);
}
@media (min-width: 0px) {
  .card-img-top {
    display: block;
  }
}
@media (min-width: 576px) {
  .card-img-top {
    display: none;
  }
}
@media (min-width: 768px) {
  .card-img-top {
    display: block;
  }
}
.card-img-container {
  overflow-y: hidden;
}
@media (min-width: 0px) {
  .card-img-container {
    max-height: 190px;
  }
}
@media (min-width: 768px) {
  .card-img-container {
    max-height: 240px;
  }
}
.pagination {
  display: flex;
}
@media (min-width: 0px) {
  .pagination {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .pagination {
    justify-content: end;
  }
}
.pagination-page {
  margin-left: 9px;
  margin-right: 9px;
}
@media (min-width: 0px) {
  .pagination-page {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .pagination-page {
    font-size: 1.1rem;
  }
}
.pagination-page:first-child,
.pagination-page:first-child.active {
  margin-left: 0;
}
.pagination-page:last-child,
.pagination-page:last-child.active {
  margin-right: 0;
}
.pagination-page.active {
  background: #ffc20d;
  text-align: center;
  margin-right: 4px;
  margin-left: 4px;
}
@media (min-width: 0px) {
  .pagination-page.active {
    border-radius: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
    padding-right: calc(1.5rem / 2);
  }
}
@media (min-width: 992px) {
  .pagination-page.active {
    border-radius: calc(1.1rem / 2);
    padding-left: calc(1.1rem / 2);
    padding-right: calc(1.1rem / 2);
  }
}
.pagination-skip {
  border-bottom: 3px dotted #a67c00;
  width: 1.5rem;
  height: 18px;
  margin-left: 2px;
  margin-right: 2px;
}
.twitter-block {
  width: 100%;
  height: 810px;
}
.banner-container {
  width: 100%;
  margin-top: 26px;
}
img.banner {
  width: 100%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 26px;
}
footer a {
  color: rgba(51, 51, 51, 0.86666667);
  margin-right: 26px;
  margin-left: 26px;
}
footer a:hover {
  text-decoration: none;
  color: #a67c00;
}
footer > nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 0px) {
  footer > nav {
    display: none;
  }
}
@media (min-width: 992px) {
  footer > nav {
    display: flex;
  }
}
footer > nav a {
  margin-right: 26px;
  margin-left: 26px;
}
footer > #footer-social-icons a {
  margin-right: 13px;
  margin-left: 13px;
}
@media (min-width: 0px) {
  .jumbotron h1 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .jumbotron h1 {
    text-align: start;
  }
}
@media (min-width: 0px) {
  .btn-dynamic {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .btn-dynamic {
    width: auto;
  }
}
.carousel {
  margin-bottom: 20px;
}
@media (min-width: 0px) {
  .carousel {
    box-shadow: 0 -5px 6px #0005, 0 5px 5px #0005;
    margin-left: -26px;
    margin-right: -26px;
  }
}
@media (min-width: 992px) {
  .carousel {
    box-shadow: none;
    margin: inherit;
  }
}
.carousel-item {
  max-height: 90vh;
}
.carousel-item > img {
  object-fit: contain;
}
.carousel-caption {
  background-color: #000a;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px;
}
.forced-inline-block {
  display: inline-block !important;
}
.forced-flex {
  display: flex !important;
}
@media (min-width: 0px) {
  .forced-hiden-on-xs {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .forced-hiden-on-xs {
    display: initial !important;
  }
}
