<div class="card">
    <a href=".">
        <div class="card-img-container">
                <img class="card-img-top" src="/images/banner.png">
        </div>
    </a>
    <div class="card-body">
        <a href="."><h5 class="card-title">
            Сомы грамм — и... много драм. Как государство борется с наркотиками
        </h5></a>
        <div class="date">28 июня 2020</div>
        <p class="card-text">
            В последние годы мы слышим много противоречивых новостей о наркотиках. В Канаде легализуют марихуану, в Средней Азии растет производство героина, президент Филиппин обещает «накормить рыб в бухте Манилы телами наркоторговцев». Президент России говорит: «никакой либерализации [наркополитики] быть не может», похожее мнение высказывает главный борец с наркотиками на территории РФ Евгений Ройзман: «введение уголовного наказания за употребление наркотиков действительно может уменьшить число наркоманов в РФ». Мы изучили множество источников, доводов и исследований за последние два десятка лет, чтобы отделить статистику от информационного шума и оценить результаты подходов правительств разных стран в отношении запрещенных веществ. Эта статья ни в коем случае не пропагандирует употребление наркотических веществ ни в каком виде. Берегите себя и своё здоровье.
        </p>
    </div>
</div>
