
<div class="card">
	<img src="/images/logo.png" class="contained">
	<div class="card-body">
		<h5 class="card-title"> Пресс-служба </h5>
		<p class="card-text"> Контакт для связи по любым вопросам, вам ответит уполномоченый представитель</p>
	</div>
	<div class="spacer"></div>
	<div class="contact-info list-group list-group-flush">
		<div class="list-group-item"> <a class="text-nowrap" href="http://t.me/contained"><i class="fab fa-telegram fa-lg"></i> libteaclub_bot </a></div>
		<div class="list-group-item"> <a class="text-nowrap" href="m"><i class="fa fa-envelope fa-lg"></i> contact@libtea.club</a></div>
	</div>
</div>
