
<div class="card">
	<img src="/images/contact/demo-photo.jpg">
	<div class="card-body">
		<h5 class="card-title">Я ниибаццо длинное <br>имя в две строки</h5>
		<p class="card-text">Я ниибаццо длинная должность <br> в две строки минимум</p>
	</div>
	<div class="spacer"></div>
	<div class="contact-info list-group list-group-flush">
		<div class="list-group-item"> <a class="text-nowrap" href="http://t.me/krealnum"><i class="fab fa-telegram fa-lg"></i> </a></div>
		<div class="list-group-item"> <a class="text-nowrap" href="http://t.me/krealnum"><i class="fab fa-vk fa-lg"></i> </a></div>
		<div class="list-group-item"> <a class="text-nowrap" href="http://t.me/krealnum"><i class="fab fa-vk fa-lg"></i> </a></div>
		<div class="list-group-item"> <a class="text-nowrap" href="m"><i class="fa fa-envelope fa-lg"></i> killmeplz@libtea.club</a></div>
	</div>
</div>
