@text-font: 'Roboto', sans-serif;
@header-font: 'Yanone Kaffeesatz', sans-serif;

@fg-color: #000000dd;
@bg-color: #fff;

@max-body-width: 1200px;

@xs-breakpoint: 0px; 
@s-breakpoint: 576px; 
@m-breakpoint: 768px;
@lg-breakpoint: 992px;
@xl-breakpoint: 1200px;

@import "style.less";
@import "page-layout.less";
@import "header.less";
@import "card-list.less";
@import "sidebar.less";
@import "js-helpers.less";
