<div class="card">
    <a href=".">
        <img class="card-img-top" src="/images/card-preview.png">
    </a>
    <div class="card-body">
        <a href="."><h5 class="card-title">Как в Санкт-Петербурге оппозиционных депутатов лишают мандатов по надуманным поводам
        </h5></a>
        <p class="card-text">
            Казалось бы, петербуржцы выбрали своих муниципальных депутатов совсем недавно. Ещё свежи в памяти и угрозы независимым кандидатам, и то, как их снимали с выборов по надуманным поводам. Несмотря на бесконечные препятствия до выборов и масштабные фальсификации во время выборов, оппозиция смогла занять в муниципальных советах почти 450 мест.
        </p>
    </div>
</div>
