<div class="card-columns">
    
    {{ partial "card-list/card.html" . }}
    {{ partial "card-list/card2.html" . }}
    {{ partial "card-list/card.html" . }}
    {{ partial "card-list/card2.html" . }}
    {{ partial "card-list/card.html" . }}
    {{ partial "card-list/card2.html" . }}

</div>
<div class="pagination">
    <!-- число страниц = число статей в базе / число статей на странице (минимум три) -->
    <span class="pagination-page"><a href="">1</a></span>
    <span class="pagination-skip"></span>
    <span class="pagination-page"><a href="">22</a></span>
    <span class="pagination-page active">23</span>
    <span class="pagination-page"><a href="">24</a></span>
    <span class="pagination-skip"></span>
    <span class="pagination-page"><a href="">118</a></span>
</div>
