.article {
	display: grid;
	grid-template-columns: 1fr 1.5fr 360px;
	grid-template-rows: auto auto;
	column-gap: 30px;
	grid-template-areas: "card text side-block"
						 ". text side-block";
}

.article-container {
	max-width: 1560px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.article-container + .carousel-best {
	margin-top: 105px;
}

.article-text, .article-card {
	background: white;
}

.article-text {
	grid-area: text;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.article-text a {
	color: #6994BC;
	text-decoration: none;
}

.article-card {
	grid-area: card;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article-title {
	font-family: Yanone Kaffeesatz;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 67px;
	color: #0F0F0F;
	min-height: 321px;
}

.article-card-bottom {
	margin-top: 15px;
}

.article-tags {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}

.article-tag {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #8B8B8B;
	padding: 4px 19px;
	border: 1px solid #8B8B8B;
	box-sizing: border-box;
	border-radius: 5px;
}

.article-date {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #8B8B8B;
}

.article-image {
	width: 100%;
	border-radius: 0px 0px 30px 30px;
	-webkit-mask-image: linear-gradient(to bottom, #ffffff00 -5.18%, rgb(229 229 229) 53.21%);
	mask-image: linear-gradient(to bottom, #ffffff00 -5.18%, rgb(229 229 229) 53.21%);
}

@media (max-width: 1200px) {
	.side-block {
		display: none;
	}

	.article {
		grid-template-areas: "card text"
							 ". text";
		grid-template-columns: 1fr 2fr;
	}
}

@media (max-width: 768px) {
	.article-container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.article {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.article-title {
		min-height: unset;
	}
}