.articles-feed-container {
	display: grid;
	grid-template-columns: min-content 360px;
	grid-template-areas: "articles-feed side-block";
	column-gap: 30px;
	justify-content: center;
}

.articles-feed {
	display: grid;
	grid-template-columns: min-content min-content;
	column-gap: 30px;
	grid-area: articles-feed;
}

.side-block {
	margin-top: 1rem;
}

.articles-feed-container + .carousel-best {
	margin-top: 50px;
}

@media (max-width: 1200px) {
	.side-block {
		display: none;
	}

	.articles-feed {
		row-gap: 30px;
	}

	.articles-feed-container {
		grid-template-columns: min-content;
		grid-template-areas: "articles-feed";
	}
}

@media (max-width: 800px) {
	.articles-feed-container {
		display: flex;
	}

	.articles-feed {
		display: flex;
		flex-direction: column;
	}
}

#carousel-top {
	margin-bottom: 50px;
}