.articles-list-container {
	width: fit-content;
	width: -moz-fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.articles-list-container .pagination {
	justify-content: flex-end;
	margin-top: 40px;
	padding-right: 15px;
}

.articles-list {
	display: flex;
}

.articles-list-item {
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 1200px) {
	.articles-list {
		display: grid;
		grid-template-columns: min-content min-content;
		column-gap: 30px;
		row-gap: 30px;
	}

	.articles-list-item {
		padding-left: 0;
		padding-right: 0;
	}
	.articles-list-container .pagination {
		justify-content: center;
	}
}

@media (max-width: 800px) {
	.articles-list {
		display: flex;
		flex-direction: column;
	}
}
