.author-card {
	width: 268px;
	height: 573px;
}

.side-block .author-card {
	margin-left: auto;
    margin-right: auto;
}

.author-pic {
	position: relative;
	z-index: 1; /* position & index needed for white background for lower half of image */
	width: 268px;
	height: 268px;
	/* todo: replace external links with local images before placing css on webserver*/
	-webkit-mask-image: url("https://i.imgur.com/zBRsiLV.png");
	mask-image: url("https://i.imgur.com/zBRsiLV.png");
	object-fit: cover;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.author-main-block {
	position: relative;
	padding-top: 134px; /* half of image width to create white background for image according to figma */
	top: -134px; /* half of image width to create white background for image according to figma */
	padding-bottom: 31px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
	border-radius: 5px
}

.author-text-block {
	margin-left: 22px;
	margin-right: 21px;
	margin-top: 10px;
}

.author-name {
	font-family: Yanone Kaffeesatz;
	font-size: 36px;
	line-height: 43px;
	font-style: normal;
	font-weight: normal;
	margin: 0;
}

.author-signature {
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	font-style: normal;
	font-weight: normal;
	margin-top: -4px;
	margin-bottom: 0;
}

.author-articles-block {
	margin-top: 16px;
	margin-bottom: 0;
	padding: 0;
	list-style-type: none;
}

.author-articles-block li {
	padding: 0;
	border-bottom: 1px solid #C4C4C4;
	margin-top: 6px;
	font-family: Yanone Kaffeesatz;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
}

.author-articles-block li a {
	text-decoration: none;
	color: black;
}

.author-articles-block li.author-articles-block-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;

	color: #8B8B8B;
}