


a {
	color:inherit;
}

a:link:visited {
	color:inherit;
}



.navbar-light .navbar-nav.navbar-nav-footer .nav-link {
	font-size: 14px;
	line-height: 16px;
	color: #777777;
	margin-left: 22px;
	margin-right: 22px;
}


.top-index {
	z-index: 100;
}

.container-main {
	max-width: 1540px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}






.list-footer .list-group-item-custom {
	border: 0;
	position: relative;
	display: block;
	margin-left: 13px;
	margin-right: 13px;
}

.list-item-custom-bordered {
	border: 1px solid white;
	position: relative;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 1rem;
	font-weight: 300;
	font-size: 16px;
}

.list-item-custom-bordered.selected {
	background-color: gold;
	padding: 2px 14px;
	margin-left: 15px;
	margin-right: 15px;
}

.list-item-custom-bordered:first-child, .list-item-custom-bordered.selected:first-child {
	margin-left: 0;
}

.list-item-custom-bordered:last-child, .list-item-custom-bordered.selected:last-child {
	margin-right: 0;
}

.cover-screen {
	display: none;

	position: fixed;
	padding: 0;
	margin: 0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 100;
}


.footer {
	margin-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
