<div class="list-group list-group-horizontal d-none d-lg-flex" id="social-icons">
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fab fa-telegram fa-lg"></i></a>
	</li>
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fab fa-vk fa-lg"></i></a>
	</li>
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fab fa-facebook fa-lg"></i></a>
	</li>
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fab fa-instagram fa-lg"></i></a>
	</li>
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fab fa-twitter fa-lg"></i></i></a>
	</li>
	<li class="list-group-item-custom">
		<a class="text-muted" href="#"><i class="fa fa-envelope"></i></a>
	</li>
</div>
