<script>
	$('#header-about').addClass('active');
</script>

<h1>Кто мы?</h1>
<p>В своих рядах мы приветствуем людей либеральных и либертарианских политических взглядов. Мы — люди разного возраста и уровня достатка, разных вероисповеданий и увлечений, работающие и учащиеся, мужчины и женщины, инициативные и сочувствующие, нас объединяет уверенность в том, что добиться мира и процветания можно только через свободу: личную, экономическую и политическую. </p>

<div id="about-carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#about-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#about-carousel" data-slide-to="1"></li>
		<li data-target="#about-carousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="/images/about/carousel-1.jpg" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>В мартобре 1987 года что-то делали</h5>
				<p>Получилось классно, потому что мы самые лучше. Ипсум долор сит амет, как говорится. Держитесь правее, и всё такое.</p>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/images/about/carousel-2.jpg" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>Это совершенно другой заголовок о том, что мы что-то делали</h5>
				<p>Получилось классно, потому что мы самые лучше. Ипсум долор сит амет, как говорится. Держитесь правее, и всё такое.</p>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/images/about/carousel-3.jpg" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>Зимой 3010 года мы закосплеили Футараму, потому что можем</h5>
				<p>Получилось классно, потому что мы самые лучше. Ипсум долор сит амет, как говорится. Держитесь правее, и всё такое.</p>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#about-carousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#about-carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<h1>Чем мы занимаемся?</h1>

<p>
	Мы занимаемся продвижением своих идей всеми не запрещёнными законодательством Российской Федерации способами:
	<ul>
		<li>Выставляем кандидатов на выборные государственные должности, и следим за соблюдением прав граждан при проведении выборов;</li>
		<li>Проводим лекции, конференции и круглые столы на общественно-значимые темы;</li>
		<li>Пишем статьи, делаем видео и подкасты, берём интервью, содержание которых мы считаем важным и интересным;</li>
		<li>Участвуем (нередко — в качестве организаторов) в массовых мероприятиях: митингах, шествиях и пикетах.</li>
	</ul>
</p>


<div id="join-jumbotron" class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-5">Присоединяйтесь! </h1>
		<div class="dropdown" style="display: inline;">
			<button class="btn btn-outline-dark btn-lg btn-dynamic dropdown-toggle" type="button" id="dropdown_regulations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-file"></i> Устав движения
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdown_regulations">
				<button class="dropdown-item no-bg-on-active">
					<a href="/uploads/files/placeholder__statute_file/teaclub_regulations.pdf" class="header-link" download="Устав движения Чайный клуб.pdf">
						<i class="fas fa-download"></i> Скачать
					</a>
				</button>
				<button class="dropdown-item no-bg-on-active">
					<a href="/uploads/files/placeholder__statute_file/teaclub_regulations.pdf" class="header-link" target="_blank">
						<i class="fas fa-external-link-alt"></i> Открыть
					</a>
				</button>
			</div>
		</div>
		<div class="dropdown" style="display: inline;">
			<button class="btn btn-outline-dark btn-lg btn-dynamic dropdown-toggle"  type="button" id="dropdown_principles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="far fa-lightbulb"></i> Наши принципы
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdown_principles">
				<button class="dropdown-item no-bg-on-active">
					<a href="/uploads/files/placeholder__principles_file/teaclub_principles.pdf" class="header-link" download="Принципы движения Чайный клуб.pdf">
						<i class="fas fa-download"></i> Скачать
					</a>
				</button>
				<button class="dropdown-item no-bg-on-active">
					<a href="/uploads/files/placeholder__principles_file/teaclub_principles.pdf" class="header-link" target="_blank">
						<i class="fas fa-external-link-alt"></i> Открыть
					</a>
				</button>
			</div>
		</div>
		<form action="/join" role="search" method="get" target="_blank" style="display: inline;">	
			<button type="submit" class="btn btn-outline-dark btn-lg btn-dynamic">
				<i class="fas fa-handshake"></i> Вступить
			</button>
		</form>
	</div>
</div>

<script>
	$(function() {
		$('.dropdown-toggle').dropdown();
	});
</script>
