<script>
	$('#header-donate').addClass('active');
</script>

<h1>Поддержать</h1>
<p>
	Когда мы запускали «Медиазону», мы говорили, что вся политика и общественная жизнь в России постепенно перемещается в суды. Сегодня мы видим, как наша повестка захватывает все большую и большую часть жизни — вплоть до театров и ваших личных страничек «ВКонтакте».
</p>

<div id="payment-method-accordion" class="in-text">

	<div class="card">
		<button class="card-header btn btn-block" id="btn-sber" data-toggle="collapse" data-target="#collapse-sber"  aria-controls="collapse-sber">
			На карту Сбербанк
		</button>
		<div id="collapse-sber" class="collapse show" aria-labelledby="btn-sber" aria-expanded="false" data-parent="#payment-method-accordion">
			<div class="card-body">
				4276 5500 5408 1750
			</div>
		</div>
	</div>

	<div class="card">
		<button class="card-header btn btn-block collapsed" id="btn-tinkoff" data-toggle="collapse" data-target="#collapse-tinkoff"  aria-controls="collapse-tinkoff">
			На карту Тинькофф
		</button>
		<div id="collapse-tinkoff" class="collapse" aria-labelledby="btn-tinkoff" data-parent="#payment-method-accordion" aria-expanded="false">
			<div class="card-body">
				5536 9137 9452 9624
			</div>
		</div>
	</div>

	<div class="card">
		<button class="card-header btn btn-block collapsed" id="btn-btc" data-toggle="collapse" data-target="#collapse-btc" aria-controls="collapse-btc">
			Биткоин
		</button>
		<div id="collapse-btc" class="collapse" aria-labelledby="btn-btc" data-parent="#payment-method-accordion" aria-expanded="false">
			<div class="card-body">
				ASdsldakfsdj oisdajrio jowj foij oiajf oisdaoif joai
			</div>
		</div>
	</div>

	<div class="card">
		<button class="card-header btn btn-block collapsed" id="btn-eth" data-toggle="collapse" data-target="#collapse-eth" aria-controls="collapse-eth">
			Etherium
		</button>
		<div id="collapse-eth" class="collapse" aria-labelledby="btn-eth" data-parent="#payment-method-accordion" aria-expanded="false">
			<div class="card-body">
				ASdsldakfsdj oisdajrio jowj foij oiajf oisdaoif joai
			</div>
		</div>
	</div>
</div>

<h2> На что пойдут деньги? </h2>
<p>
	Когда мы запускали «Медиазону», мы говорили, что вся политика и общественная жизнь в России постепенно перемещается в суды. Сегодня мы видим, как наша повестка захватывает все большую и большую часть жизни — вплоть до театров и ваших личных страничек «ВКонтакте».
</p>
<p>
	Когда мы запускали «Медиазону», мы говорили, что вся политика и общественная жизнь в России постепенно перемещается в суды. Сегодня мы видим, как наша повестка захватывает все большую и большую часть жизни — вплоть до театров и ваших личных страничек «ВКонтакте».
</p>

<style>
	.banner {
		display: none;
	}
</style>
